@page
@model FormModel
@{
    ViewData["Title"] = "Solicitud de Puesto Clave";
}

<h1>@ViewData["Title"]</h1>

<!-- Encabezado fijo del formulario -->
<div class="fixed-header"> 
    <span>Número de Plaza: <strong id="selectedPlazaNumber">-</strong></span>
    <span>Cargo: <strong id="selectedCargo">-</strong></span>
</div>

<h3>Formulario de solicitud</h3>
<div class="card">
    <!-- Paso 1 -->
    <div class="form-step card" id="step1">
        <div class="card-header">Información General</div>
        <div class="card-body">
            <!-- Número de Plaza -->
            <div class="form-group d-flex align-items-center">
                <label for="plazaNumber" class="col-md-2">Número de Plaza:</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="plazaNumber" placeholder="Ingresa el número de plaza"
                        maxlength="5">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" style="margin-left: 1rem;"
                        onclick="buscarPorNumeroDePlaza()">Buscar</button>
                </div>
            </div>
            

            <hr> <!-- Línea horizontal -->
            <!-- Dependencia -->
            <div class="form-group">
                <label for="dependencia">Dependencia:</label>
                <select class="form-control" id="dependencia" disabled>
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <!-- Cargo -->
            <div class="form-group">
                <label for="cargo">Nombre del Cargo:</label>
                <select class="form-control" id="cargo" onchange="cargarTrabajadoresPorCargo()">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <!-- Encargado Actual -->
            <div class="form-group">
                <label for="encargado">Encargado Actual:</label>
                <select class="form-control" id="encargado" onchange="obtenerNumeroDePlaza()">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <div class="btn-container">
                <button class="btn btn-primary pull-right" onclick="validarYContinuar()">Siguiente</button>
            </div>
        </div>
    </div>
    <!-- Paso 2 -->
    <div class="form-step card" id="step2" style="display:none;">
        <div class="card-header" style= "bottom: 30px" >Requisitos del Puesto según el Manual de Puesto: Los requisitos deben estar alineados según lo establecido en el manual de puestos</div>
        <div class="card-body">

            <!-- Experiencia Requerida -->
            <div class="form-group d-flex align-items-center mb-3">
                
                <label for="experience" class="mr-3" style="width: 300px;">Experiencia Requerida:</label>
                <input type="number" class="form-control mr-2" id="experience" placeholder="Número de años de experiencia">
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyExperience"
                           onclick="toggleInput('experience')">
                    <label class="form-check-label" for="noApplyExperience" style="white-space: nowrap;">No Aplica</label>
                </div>

            </div>
            <hr>
            <!-- Nivel de escolaridad requerido -->
            <div class="form-group d-flex align-items-center mb-3">
                <label for="education" class="mr-3" style="width: 300px;">Nivel de Escolaridad Requerido Opcion 1:</label>
                <select class="form-control mr-2" id="education">
                    <option value="escuela">Escuela</option>
                    <option value="noveno">Noveno año</option>
                    <option value="bachillerato">Bachillerato</option>
                    <option value="universitario">Título universitario</option>
                </select>
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyEducation"
                           onclick="toggleInput('education')">
                    <label class="form-check-label" for="noApplyEducation" style="white-space: nowrap;">No Aplica</label>
                </div>
            </div>

            <!-- Horas de Formación Técnica -->
            <div class="form-group d-flex align-items-center mb-3">
                <label for="technical-training" class="mr-3" style="width: 300px;">Horas de Formación Técnica Opcion 1:</label>
                <input type="number" class="form-control mr-2" id="technicalTraining"
                       placeholder="Total de horas de formación técnica">
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyTechnicalTraining"
                           onclick="toggleInput('technicalTraining')">
                    <label class="form-check-label" for="noApplyTechnicalTraining" style="white-space: nowrap;">No Aplica</label>
                </div>
            </div>

            <!-- Nivel de escolaridad requerido -->
            <div class="form-group d-flex align-items-center mb-3">
                <label for="education2" class="mr-3" style="width: 300px;">Nivel de Escolaridad Requerido Opcion 2:</label>
                <select class="form-control mr-2" id="education">
                    <option value="escuela">Escuela</option>
                    <option value="noveno">Noveno año</option>
                    <option value="bachillerato">Bachillerato</option>
                    <option value="universitario">Título universitario</option>
                </select>
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyEducation"
                           onclick="toggleInput('education2')">
                    <label class="form-check-label" for="noApplyEducation" style="white-space: nowrap;">No Aplica</label>
                </div>
            </div>

            <!-- Horas de Formación Técnica -->
            <div class="form-group d-flex align-items-center mb-3">
                <label for="technical-training" class="mr-3" style="width: 300px;">Horas de Formación Técnica Opcion 2:</label>
                <input type="number" class="form-control mr-2" id="technicalTraining2"
                       placeholder="Total de horas de formación técnica">
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyTechnicalTraining"
                           onclick="toggleInput('technicalTraining2')">
                    <label class="form-check-label" for="noApplyTechnicalTraining" style="white-space: nowrap;">No Aplica</label>
                </div>
            </div>
            <hr>
            <!-- Horas de formación para el puesto -->
            <div class="form-group d-flex align-items-center mb-3">
                <label for="job-training" class="mr-3" style="width: 300px;">Horas de Formación para el puesto:</label>
                <input type="number" class="form-control mr-2" id="jobTraining"
                       placeholder="Total de horas de formación específica">
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyJobTraining"
                           onclick="toggleInput('jobTraining')">
                    <label class="form-check-label" for="noApplyJobTraining" style="white-space: nowrap;">No Aplica</label>
                </div>
            </div>

            <!-- Tiempo de supervisión de Personal -->
            <div class="form-group d-flex align-items-center mb-3">
                <label for="supervision" class="mr-3" style="width: 300px;">Tiempo de Supervisión de Personal:</label>
                <input type="number" class="form-control mr-2" id="supervision"
                       placeholder="Tiempo en meses o años supervisando personal">
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplySupervision"
                           onclick="toggleInput('supervision')">
                    <label class="form-check-label" for="noApplySupervision" style="white-space: nowrap;">No Aplica</label>
                </div>
            </div>
           
            <!-- Botones de navegación -->
                        <div class="btn-container mb-3">
            <button class="btn btn-primary pull-left" onclick="prevStep(1)">Atrás</button>
            <button class="btn btn-primary pull-right" onclick="nextStep(3)">Siguiente</button>
            </div>
            <!-- Boton que descarga el manual de puestos  -->
            <a href="https://www.aya.go.cr/transparenciaInst/_layouts/download.aspx?SourceUrl=https%3a//www.aya.go.cr/transparenciaInst/acceso_informacion/ManualClases/Manual%20de%20Cargos%20Institucional.pdf" class="btn btn-primary"
               style="position: absolute; top: 10px; right: 10px; background-color: blue; color: white; margin-bottom: 20px;">
                Manual de
                Puesto
            </a>
        </div>
    </div>
    
    <!-- Paso 3 -->
    <div class="form-step card" id="step3" style="display:none;">
        <div class="card-header">Impacto del Puesto</div>
        <div class="card-body">

            <!-- Impacto del Puesto -->
            <div class="form-group">
                <label for="impacto">
                    ¿Las funciones asignadas al puesto en estudio afectan al Objetivo General de la
                    Dependencia a su cargo?
                </label>
                <div class="input-group mt-2">
                    <select class="form-control mr-2" id="impacto">
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyImpacto"
                               onclick="toggleInput('impacto')">
                        <label class="form-check-label" for="noApplyImpacto">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Detalles sobre el impacto -->
            <div class="form-group mt-4" id="afecta-objetivo" style="display:none;">
                <label for="afecta-objetivo-texto">Favor indique cómo afecta el cumplimiento del objetivo:</label>
                <textarea class="form-control mt-2" id="afecta-objetivo-texto" rows="4"
                          placeholder="Escribe aquí..."></textarea>
            </div>

            <!-- Gestión de Activos -->
            <div class="form-group mt-4">
                <label for="gestiona-activos">
                    ¿El puesto en estudio tiene bajo su responsabilidad gestionar activos con un
                    valor superior a los 10 millones de colones?
                </label>
                <div class="input-group mt-2">
                    <select class="form-control mr-2" id="gestionaActivos">
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyGestionaActivos"
                               onclick="toggleInput('gestionaActivos')">
                        <label class="form-check-label mr-9" for="noApplyGestionaActivos">No Aplica</label>
                    </div>
                </div>
            </div>
            <!-- Valor de los Activos -->
            <div class="form-group mt-4" id="valor-activos" style="display:none;">
                <label for="valor-activos-input">Indicar el valor aproximado de estos activos:</label>
                <input type="number" class="form-control mt-2" id="valor-activos-input" placeholder="Valor en colones">
            </div>

            <!-- Responsabilidad sobre Planes o Proyectos -->
            <div class="form-group mt-4">
                <label for="responsibility">El puesto tiene bajo su responsabilidad planificar, coordinar y supervisar planes o proyectos (rol estratégico):</label>
                <div class="input-group mt-2">
                    <select class="form-control mr-2" id="responsibility"
                            onchange="toggleTextBox('responsibility','additionalInfo', 'additionalText', 'proyecto a, plan z...' )">
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyResponsibility"
                               onclick="toggleInput('responsibility')">
                        <label class="form-check-label mr-9" for="noApplyResponsibility">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Detalles sobre la responsabilidad de Planes o Proyectos -->
            <div class="form-group mt-4" id="additionalInfo" style="display:none;">
                <textarea class="form-control" id="additionalText"></textarea>
            </div>

            <!-- Responsabilidad de Gestión de Planes o Proyectos -->
            <div class="form-group mt-4">
                <label for="gestion">El puesto tiene bajo su responsabilidad ejecutar planes o proyectos:</label>
                <div class="input-group mt-2">
                    <select class="form-control mr-2" id="gestion"
                            onchange="toggleTextBox('gestion','additionalInfoGestionar','additionalTextGestionar','proyecto a, plan z...')">
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyGestion"
                               onclick="toggleInput('gestion')">
                        <label class="form-check-label mr-9" for="noApplyGestion">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Detalles sobre la responsabilidad de Gestión de Planes o Proyectos -->
            <div class="form-group mt-4" id="additionalInfoGestionar" style="display:none;">
                <textarea class="form-control" id="additionalTextGestionar"></textarea>
            </div>

            <!-- Botones de navegación -->
            <div class="btn-container mb-50">
                <button class="btn btn-primary pull-left" onclick="prevStep(2)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(4)">Siguiente</button>
            </div>
        </div>
    </div>

    <!-- Paso 4 -->
    <div class="form-step card" id="step4" style="display:none;">
        <div class="card-header">Información del Puesto</div>
        <div class="card-body">
            <div class="form-group">
                <label for="cantidad-personas">Indicar cantidad de personas de su área capaces de desempeñar las funciones del
                puesto (sin contar al encargado actual):</label><br>
                <select class="form-control" id="cantidad-personas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="mas-de-3">Más de 3</option>
                </select>
            </div>
        <div class="form-group">
            <label for="existeManual">Los funcionarios indicados en el punto anterior han sido capacitados con los manuales de procedimientos vigentes</label>
             <div class="input-group mt-2">
                <select class="form-control" id="existeManual" onchange="toggleTextBox('existeManual','additionalInfoManual','additionalTextManual','Link, sitio web, otro...')">
                <!-- Call toggleTextBox function here -->
                <option value="no">No</option>
                <option value="si">Sí</option>
            </select>
                <div class="form-check form-check-inline custom-margin">
                    <input class="form-check-input" type="checkbox" id="noApplyExisteManual"
                           onclick="toggleInput('existeManual')">
                    <label class="form-check-label" for="noApplyExisteManual">No Aplica</label>
                </div>
             </div>
        </div>

        <br>

        <div id="additionalInfoManual" style="display:none;">
            <label>Observación</label>
            <textarea class="form-control" id="additionalTextManual"></textarea>
        </div>
            
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(3)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(5)">Siguiente</button>
            </div>
        </div>
    </div>
    <!-- Paso 5: Indicar conocimiento -->
    <div class="form-step card" id="step5" style="display:none;">
        <div class="card-header">Aspectos Técnicos y Tecnológicos:</div>
        <div class="card-body">

            <!-- Sistemas tecnológicos y programas que se utilizan -->
            <div class="form-group">
                
                <label for="systems">Sistemas tecnológicos y programas que se utilizan:</label>
                <div class="input-group">
                    <textarea class="form-control" id="systems" rows="3"
                              placeholder="Especifique los sistemas tecnológicos y programas que se utilizan en el puesto."></textarea>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplySystems"
                               onclick="toggleInput('systems')">
                        <label class="form-check-label" for="noApplySystems">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Manejo de equipo especializado necesario -->
            <div class="form-group">
                <label for="manejo">Manejo de equipo especializado necesario:</label>
                <div class="input-group">
                    <textarea class="form-control" id="manejo" rows="3"
                              placeholder="Indique el equipo especializado que es necesario manejar para el puesto."></textarea>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyManejo" onclick="toggleInput('manejo')">
                        <label class="form-check-label" for="noApplyManejo">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Conocimiento conceptual -->
            <div class="form-group">
                <label for="conocimiento">Conocimiento conceptual:</label>
                <div class="input-group">
                    <textarea class="form-control" id="conocimiento" rows="3"
                              placeholder="Describa el tipo de conocimiento teórico que se requiere manejar para el puesto."></textarea>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyConocimiento"
                               onclick="toggleInput('conocimiento')">
                        <label class="form-check-label" for="noApplyConocimiento">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Dinámica institucional para la ejecución de funciones -->
            <div class="form-group">
                <label for="Dinamica">Dinámica institucional para la ejecución de funciones :</label>
                <div class="input-group">
                    <textarea class="form-control" id="Dinamica" rows="3"
                              placeholder="Especifique las condiciones especiales que se deben conocer del AyA para desempeñar adecuadamente las funciones del puesto."></textarea>
                    <div class="form-check form-check-inline custom-margin">
                        <input class="form-check-input" type="checkbox" id="noApplyDinamica"
                               onclick="toggleInput('Dinamica')">
                        <label class="form-check-label" for="noApplyDinamica">No Aplica</label>
                    </div>
                </div>
            </div>

            <!-- Botones de navegación -->
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(4)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(6)">Siguiente</button>
            </div>
        </div>
    </div>

    <!-- Paso 6 Valor de las principales variables que influyen en la solicitud de un puesto clave-->
    <div class="form-step card" id="step6" style="display:none;">
        <div class="card-header">Asignación de Puntuación</div>
        <div class="card-body">
            <p>Seleccione el grado correspondiente a cada variable</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Variables</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Conocimiento -->
                    <tr>
                        <td>Conocimiento</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 1)">
                                Se requiere
                                conocimientos básicos, propios de la educación primaria.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 2)">
                                Conocimientos fáciles
                                de adquirir mediante observación y adiestramiento (empírica).
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 3)">
                                Conocimientos básicos
                                propios de la educación secundaria (bachiller en educación media).
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 4)">
                                Conocimientos
                                avanzados
                                en temas técnicos propios
                                de la naturaleza de AyA.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 5)">
                                Conocimientos
                                especializados en temas
                                técnicos propios de la
                                naturaleza de AyA.
                            </button>
                        </td>
                    </tr>
                    <!-- Experiencia -->
                    <tr>
                        <td>Experiencia</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 1)">No requiere.</button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 2)">
                                Mínimo Seis meses de
                                experiencia en funciones
                                de la misma naturaleza del
                                Puesto.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 3)">
                                Dos años de
                                experiencia
                                en funciones de la misma
                                naturaleza del Puesto.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 4)">
                                Tres años de
                                experiencia
                                en funciones de la misma
                                naturaleza del Puesto.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 5)">
                                Cuatro años de
                                experiencia en funciones
                                de la misma naturaleza del
                                Puesto.
                            </button>
                        </td>
                    </tr>
                    <!-- Responsabilidad -->
                    <tr>
                        <td>Responsabilidad</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 1)">
                                Sus acciones
                                tienen
                                impacto directo
                                únicamente en el proceso
                                al que pertenece.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 2)">
                                Sus acciones
                                tienen
                                impacto directo sobre la
                                dependencia a la que
                                pertenece .
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 3)">
                                Sus acciones hacen
                                posible
                                cumplir la razón de ser de
                                la dependencia.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 4)">
                                Sus acciones
                                tienen
                                impacto directo en la
                                prestación de los servicios,
                                asesoría y
                                fiscalización que brinda la
                                institución
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 5)">
                                Sus acciones
                                tienen un
                                impacto directo en las
                                actividades relacionadas
                                con la población que
                                atiende AyA .
                            </button>
                        </td>
                    </tr>
                    <!-- Planes o Proyectos -->
                    <tr>
                        <td>Planes o Proyectos</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 1)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impacta
                                directamente la
                                consecución de las metas
                                asignadas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 2)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impacta
                                directamente en la
                                consecución de los planes
                                anuales operativos de la
                                dependencia.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 3)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impide
                                la consecución de los
                                planes anuales operativos
                                de la Dependencia.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 4)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impacta
                                en la consecución de los
                                objetivos estratégicos de
                                AyA .
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 5)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impide
                                la consecución de
                                objetivos estratégicos de
                                AyA.
                            </button>
                        </td>
                    </tr>
                    <!-- Presupuesto y/o Activos Institucionales -->
                    <tr>
                        <td>Presupuesto y/o Activos Institucionales</td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Presupuesto y/o Activos Institucionales', 1)">
                                De ¢0.00 a
                                9,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Presupuesto y/o Activos Institucionales', 2)">
                                De ¢10,000,000.00 a
                                ¢29,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Presupuesto y/o Activos Institucionales', 3)">
                                De 30,000,000.00 a
                                49,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Presupuesto y/o Activos Institucionales', 4)">
                                De ¢50,000,000.00 a
                                ¢99,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Presupuesto y/o Activos Institucionales', 5)">
                                De ¢100,000,000.00 o
                                más.
                            </button>
                        </td>
                    </tr>
                    <!-- Consecuencia del Error -->
                    <tr>
                        <td>Consecuencia del Error</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 1)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en las
                                actividades del funcionario,
                                pero son corregidos con
                                rapidez y facilidad en el
                                curso natural del trabajo ;
                                generando únicamente
                                atrasos en sus actividades.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 2)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en las
                                actividades del proceso en
                                el que participa ,
                                generando atraso en las
                                mismas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 3)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en las
                                actividades de otros
                                procesos, generando
                                atraso en las mismas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 4)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en la gestión
                                institucional , generando
                                pérdidas económicas
                                cuantificables que
                                redundarán en perjuicio al
                                cliente y/o sociedad civil.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 5)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en la calidad de
                                los servicios públicos de
                                agua potable,
                                saneamiento e hidrantes,
                                generando problemas en la
                                salud de una población.
                            </button>
                        </td>
                    </tr>
                    <!-- Funcionamiento de Procesos Medulares del AyA -->
                    <tr>
                        <td>Funcionamiento de Procesos Medulares del AyA</td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 1)">
                                La ausencia por
                                más de
                                cinco días (de la persona que
                                ocupa el puesto ) provoca
                                dos días de atraso en los
                                procesos sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 2)">
                                Por cada cinco
                                días de
                                ausencia (de la persona que
                                ocupa el puesto ), provoca al
                                menos dos días de atraso
                                en los procesos
                                sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 3)">
                                Por cada dos
                                días de
                                ausencia (de la persona que
                                ocupa el puesto ), provoca al
                                menos un día de atraso
                                en los procesos
                                sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 4)">
                                Por cada día de
                                ausencia
                                (de la persona que ocupa el
                                puesto ), provoca un día de
                                atraso en los procesos
                                sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                    onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 5)">
                                Por cada día de
                                ausencia
                                (de la persona que ocupa el
                                puesto ), provoca un día de
                                atraso de forma
                                inmediata en los procesos
                                sustantivos.
                            </button>
                        </td>
                    </tr>
                    <!-- Complejidad -->
                    <tr>
                        <td>Complejidad</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 1)">
                                Ejecuta actividades
                                rutinarias, repetitivas y
                                elementales, de acuerdo
                                con instrucciones precisas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 2)">
                                Ejecuta actividades
                                donde
                                se aplican normas y
                                procedimientos
                                establecidos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 3)">
                                Ejecuta actividades de
                                acuerdo con metas y
                                objetivos planteados,
                                donde existen precedentes
                                pero que requieren para su
                                desarrollo conocimiento
                                profesional en alguna de
                                las áreas de la gestión
                                institucional.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 4)">
                                Ejecuta actividades de
                                acuerdo con políticas y
                                objetivos institucionales,
                                que requieren del análisis
                                de diversas situaciones
                                donde es frecuente que no
                                existan precedentes para
                                atenderlas y que por tanto,
                                se debe elegir entre varias
                                opciones de acción.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 5)">
                                Ejecuta actividades de
                                acuerdo con políticas,
                                estrategias y objetivos
                                institucionales, normativa
                                y lineamientos externos,
                                que exige con base en la
                                experiencia y el
                                conocimiento adquirido la
                                aplicación del juicio para
                                establecer nuevos métodos
                                y definir cursos de acción a
                                seguir por la Institución.
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(5)">Atrás</button>
                <button class="btn btn-success pull-right" onclick="submitScores()">Enviar</button>
            </div>
        </div>
    </div>


    <!-- Indicador de Progreso -->
    <div class="progress-indicator text-center">
        <div class="circle active-circle" data-step="1" onclick="goToStep(1)"></div>
        <div class="circle inactive-circle" data-step="2" onclick="goToStep(2)"></div>
        <div class="circle inactive-circle" data-step="3" onclick="goToStep(3)"></div>
        <div class="circle inactive-circle" data-step="4" onclick="goToStep(4)"></div>
        <div class="circle inactive-circle" data-step="5" onclick="goToStep(5)"></div>
        <div class="circle inactive-circle" data-step="6" onclick="goToStep(6)"></div>
        <!-- ... Repite para los demás pasos ... -->
    </div>
    

</div>

<link rel="stylesheet" href="~/css/form.css">
<script src="~/js/form.js"></script>
