@page
@model FormModel
@{
    ViewData["Title"] = "Solicitud de Puesto Clave";
}
<link rel="stylesheet" href="~/css/form.css">
<script src="~/js/form.js"></script>

<h1>@ViewData["Title"]</h1>

<h3>Formulario de solicitud</h3>
<div class="card">
    <!-- Paso 1 -->
    <div class="form-step card" id="step1">
        <div class="card-header">Información General</div>
        <div class="card-body">
            <!-- Número de Plaza -->
            <div class="form-group d-flex align-items-center">
                <label for="plazaNumber" class="col-md-2">Número de Plaza:</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="plazaNumber" placeholder="Ingresa el número de plaza" maxlength="5">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" style="margin-left: 1rem;" onclick="buscarPorNumeroDePlaza()">Buscar</button>
                </div>
            </div>


            <hr> <!-- Línea horizontal -->
            <!-- Dependencia -->
            <div class="form-group">
                <label for="dependencia">Dependencia:</label>
                <select class="form-control" id="dependencia" disabled>
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <!-- Cargo -->
            <div class="form-group">
                <label for="cargo">Nombre del Cargo:</label>
                <select class="form-control" id="cargo" onchange="cargarTrabajadoresPorCargo()">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <!-- Encargado Actual -->
            <div class="form-group">
                <label for="encargado">Encargado Actual:</label>
                <select class="form-control" id="encargado" onchange="obtenerNumeroDePlaza()">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <div class="btn-container">
                <button class="btn btn-primary pull-right" onclick="validarYContinuar()">Siguiente</button>
            </div>
        </div>
    </div>


    <!-- Paso 2 -->
    <div class="form-step card" id="step2" style="display:none;">
        <div class="card-header">Requisitos del Puesto</div>
        <div class="card-body">
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" class="form-control" id="email" placeholder="ejemplo@dominio.com">
            </div>
            <div class="form-group">
                <label for="gender">Género:</label>
                <select class="form-control" id="gender">
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                </select>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(1)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(3)">Siguiente</button>
            </div>
            <a href="http://intranet-aya/sitios/docs/DocGnrl/Manual de puestos" class="btn btn-primary" style="position: absolute; top: 10px; right: 10px; background-color: blue; color: white;">Manual de Puesto</a>
        </div>
    </div>

 <!-- Paso 3 -->
<div class="form-step card" id="step3" style="display:none;">
    <div class="card-header">Impacto del Puesto</div>
    <div class="card-body">
        <div class="form-group">
            <label>Intereses:</label><br>
            <input type="checkbox" id="interest1" name="interest" value="coding">
            <label for="interest1"> Programación</label><br>
            <input type="checkbox" id="interest2" name="interest" value="design">
            <label for="interest2"> Diseño</label><br>
            <input type="checkbox" id="interest3" name="interest" value="marketing">
            <label for="interest3"> Marketing</label><br>
        </div>
        <div class="form-group">
            <label for="responsibility">El puesto tiene bajo su responsabilidad ejecutar planes o proyectos:</label>
            <select id="responsibility" onchange="toggleTextBox()"> <!-- Call toggleTextBox function here -->
                <option value="no">No</option>
                <option value="si">Sí</option>
            </select>
        </div>
        <div id="additionalInfo" style="display:none;">
            <textarea class="form-control" id="additionalText"></textarea>
        </div>
        <div class="btn-container">
            <button class="btn btn-primary pull-left" onclick="prevStep(2)">Atrás</button>
            <button class="btn btn-primary pull-right" onclick="nextStep(4)">Siguiente</button>
        </div>
    </div>
</div>
    <script>
        function toggleTextBox() {
        var selectElement = document.getElementById('responsibility');
        var additionalInfoDiv = document.getElementById('additionalInfo');
        var additionalText = document.getElementById('additionalText');

        if (selectElement.value === "si") {
        additionalInfoDiv.style.display = "block";
        additionalText.value = "proyecto a, plan z...";
        } else {
        additionalInfoDiv.style.display = "none";
        additionalText.value = "";
        }

        additionalText.addEventListener('input', function clearText() {
        additionalText.removeEventListener('input', clearText);
        additionalText.value = "";
        });
        }
    </script>
   
    <!-- Paso 4 -->
    <div class="form-step card" id="step4" style="display:none;">
        <div class="card-header">Paso 4</div>
        <div class="card-body">
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" class="form-control" id="email" placeholder="ejemplo@dominio.com">
            </div>
            <div class="form-group">
                <label for="gender">Género:</label>
                <select class="form-control" id="gender">
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                </select>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(3)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(5)">Siguiente</button>
            </div>
        </div>
    </div>
    <!-- Paso 5 -->
    <div class="form-step card" id="step5" style="display:none;">
        <div class="card-header">Conocimiento en áreas</div>
        <div class="card-body">
     
            <div class="form-group">
                <label for="knowledge">Indique el conocimiento necesario en las siguientes áreas:</label>
                <textarea class="form-control" id="knowledge" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="systems">Sistemas tecnológicos y programas que se utilizan:</label>
                <textarea class="form-control" id="systems" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="manejo">Manejo de equipo especializado necesario:</label>
                <textarea class="form-control" id="manejo" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="conocimiento">conocimiento conceptual:</label>
                <textarea class="form-control" id="conocimiento" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="Dinamica">Dinamica intiticional para la ejecucion de funciones :</label>
                <textarea class="form-control" id="Dinamica" rows="3"></textarea>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(4)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(6)">Siguiente</button>
            </div>
        </div>
    </div>
    <!-- Paso 6 -->
    <div class="form-step card" id="step6" style="display:none;">
        <div class="card-header">Paso 6</div>
        <div class="card-body">
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" class="form-control" id="email" placeholder="ejemplo@dominio.com">
            </div>
            <div class="form-group">
                <label for="gender">Género:</label>
                <select class="form-control" id="gender">
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                </select>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(5)">Atrás</button>
                <button class="btn btn-success pull-right" onclick="clearFields()">Enviar</button>
            </div>
        </div>
    </div>

    <!-- Indicador de Progreso -->
    <div class="progress-indicator text-center">
        <div class="circle active-circle" data-step="1" onclick="goToStep(1)"></div>
        <div class="circle inactive-circle" data-step="2" onclick="goToStep(2)"></div>
        <div class="circle inactive-circle" data-step="3" onclick="goToStep(3)"></div>
        <div class="circle inactive-circle" data-step="4" onclick="goToStep(4)"></div>
        <div class="circle inactive-circle" data-step="5" onclick="goToStep(5)"></div>
        <div class="circle inactive-circle" data-step="6" onclick="goToStep(6)"></div>
        <!-- ... Repite para los demás pasos ... -->
    </div>


</div>




