@page
@model FormModel
@{
    ViewData["Title"] = "Solicitud de Puesto Clave";
}



<h1>@ViewData["Title"]</h1>

<h3>Formulario de solicitud</h3>
<div class="card">
    <!-- Paso 1 -->
    <div class="form-step card" id="step1">
        <div class="card-header">Información General</div>
        <div class="card-body">
            <!-- Número de Plaza -->
            <div class="form-group d-flex align-items-center">
                <label for="plazaNumber" class="col-md-2">Número de Plaza:</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="plazaNumber" placeholder="Ingresa el número de plaza"
                        maxlength="5">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" style="margin-left: 1rem;"
                        onclick="buscarPorNumeroDePlaza()">Buscar</button>
                </div>
            </div>
            

            <hr> <!-- Línea horizontal -->
            <!-- Dependencia -->
            <div class="form-group">
                <label for="dependencia">Dependencia:</label>
                <select class="form-control" id="dependencia" disabled>
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <!-- Cargo -->
            <div class="form-group">
                <label for="cargo">Nombre del Cargo:</label>
                <select class="form-control" id="cargo" onchange="cargarTrabajadoresPorCargo()">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <!-- Encargado Actual -->
            <div class="form-group">
                <label for="encargado">Encargado Actual:</label>
                <select class="form-control" id="encargado" onchange="obtenerNumeroDePlaza()">
                    <!-- Las opciones se llenarán dinámicamente -->
                </select>
            </div>

            <div class="btn-container">
                <button class="btn btn-primary pull-right" onclick="validarYContinuar()">Siguiente</button>
            </div>
        </div>
    </div>
    <!-- Paso 2 -->
    <div class="form-step card" id="step2" style="display:none;">
        <div class="card-header">Requisitos del Puesto</div>
        <div class="card-body">

            <div class="form-group form-page2 toggleButto2">
                <table >
                    <tr>
                        <td>
               <label for="experience">Aplica</label>
               <input type="checkbox" id="toggleButton2" class="btn btn-primary" onclick="toggleForm(2)" style="display: block;">
                </td>
                <td>
                    <label for="experience">Experiencia Requerida en años:</label>
                    <input type="text" class="form-page" id="experience">
                </td>
                </tr>
                </table>
            </div>
            <div class="form-group form-page2 toggleButto3">
                <table>
                    <tr>
                        <td>
               
                            <input type="checkbox" id="toggleButton3" class="btn btn-primary" onclick="toggleForm(3)" style="display: block;">
                        </td>
                        <td>
                <label for="education">Nivel de escolaridad requerido:</label>
                <select class="form-page" id="education">
                    <option value="escuela">Escuela</option>
                    <option value="noveno">Noveno año</option>
                    <option value="bachillerato">Bachillerato</option>
                    <option value="universitario">Título universitario</option>
                </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group form-page2 toggleButto4">
                <table>
                    <tr>
                        <td>
               
                            <input type="checkbox" id="toggleButton4" class="btn btn-primary" onclick="toggleForm(4)" style="display: block;">
                </td>
                <td>
                <label for="technical-training">Horas de Formación Técnica:</label>
                <input type="text" class="form-page" id="technical-training">
                </td>
                </tr>
                </table>
            </div>
            <div class="form-group form-page2 toggleButto5">
                <table>
                    <tr>
                        <td>
               
                            <input type="checkbox" id="toggleButton5" class="btn btn-primary" onclick="toggleForm(5)" style="display: block;">
                </td>
                <td>
                <label for="job-training">Horas de formación para el puesto:</label>
                <input type="text" class="form-page" id="job-training">
                </td>
                </tr>
                </table>
            </div>
            <div class="form-group form-page2 toggleButto6">
                <table>
                    <tr>
                        <td>
               
                            <input type="checkbox" id="toggleButton6" class="btn btn-primary" onclick="toggleForm(6)" style="display: block;">
                </td>
                <td>
                <label for="supervision">Tiempo de supervisión de Personal:</label>
                <input type="text" class="form-page" id="supervision">
                </td>
                </tr>
                </table>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(1)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(3)">Siguiente</button>
            </div>
            <a href="http://intranet-aya/sitios/docs/DocGnrl/Manual de puestos" class="btn btn-primary"
               style="position: absolute; top: 10px; right: 10px; background-color: blue; color: white;">
                Manual de
                Puesto
            </a>
        </div>
    </div>
    
    <!-- Paso 3 -->
    <div class="form-step card" id="step3" style="display:none;">
        <div class="card-header">Impacto del Puesto</div>
        <div class="card-body">
            <div class="form-group">

               

                <label for="impacto">¿Las funciones asignadas al puesto en estudio afectan al Objetivo General de la Dependencia a su cargo?</label><br>
                <select class="form-control"  id="impacto">

                    <option value="si">Sí</option>
                    <option value="no">No</option>
                    
                </select>
            </div><br>
            <div class="form-group" id="afecta-objetivo" style="display:none;">
                <label for="afecta-objetivo-texto">Favor indique cómo afecta el cumplimiento del objetivo:</label>

                <textarea class="form-control" id="afecta-objetivo-texto" rows="4"
                    placeholder="Escribe aquí..."></textarea>
            </div>
           
            <div class="form-group">
                <label for="gestiona-activos">¿El puesto en estudio tiene bajo su responsabilidad gestionar activos con un valor superior a los 10 millones de colones?</label><br>
                <select class ="form-control" id="gestiona-activos">

                    <option value="si">Sí</option>
                    <option value="no">No</option>
                </select>
            </div><br>
            <div class="form-group" id="valor-activos" style="display:none;">
                <label for="valor-activos-input">Indicar el valor aproximado de estos activos:</label>
                <input type="number" class="form-control" id="valor-activos-input" placeholder="Valor en colones">

            </div><br>
           
        <div class="form-group">
            <label for="responsibility">El puesto tiene bajo su responsabilidad ejecutar planes o proyectos:</label>
                <select class="form-control" id="responsibility" onchange="toggleTextBox('responsibility','additionalInfo', 'additionalText', 'proyecto a, plan z...' )">
                    <option value="no">No</option>
                    <option value="si">Sí</option>
                </select>
            </div><br>
        <div id="additionalInfo" style="display:none;">
                <textarea class="form-control" id="additionalText" placeholder="Escribe aquí..."></textarea>
        </div>


        <div class="btn-container">
            <button class="btn btn-primary pull-left" onclick="prevStep(2)">Atrás</button>
            <button class="btn btn-primary pull-right" onclick="nextStep(4)">Siguiente</button>
        </div>
    </div>
</div>
    

    <!-- Paso 4 -->
    <div class="form-step card" id="step4" style="display:none;">
        <div class="card-header">Información del Puesto</div>
        <div class="card-body">
            <div class="form-group">
                <label for="cantidad-personas">Indicar cantidad de personas capaces de desempeñar las funciones del
                puesto (sin contar al encargo actual):</label><br>
                <select class="form-control" id="cantidad-personas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="mas-de-3">Más de 3</option>
                </select>
            </div>
        <div class="form-group">
            <label for="existeManual">Los manuales de procedimiento son se fácil acceso:</label>
                <select class="form-control" id="existeManual" onchange="toggleTextBox('existeManual','additionalInfoManual','additionalTextManual','Link, sitio web, otro . . .')">
                <!-- Call toggleTextBox function here -->
                <option value="no">No</option>
                <option value="si">Sí</option>
            </select>
        </div>

        <br>

        <div id="additionalInfoManual" style="display:none;">
            <label>Indicar canal de uso para la obtención de este manual</label>
            <textarea class="form-control" id="additionalTextManual"></textarea>
        </div>
            
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(3)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(5)">Siguiente</button>
            </div>
        </div>
    </div>
    <!-- Paso 5: Indicar conocimiento -->
    <div class="form-step card" id="step5" style="display:none;">
        <div class="card-header">Indique el conocimiento necesario en las siguientes áreas:</div>
        <div class="card-body">

            <div class="form-group">
                <label for="systems">Sistemas tecnológicos y programas que se utilizan:</label>
                <textarea class="form-control" id="systems" rows="3"
                          placeholder="Especifique los sistemas tecnológicos y programas que se utilizan en el puesto."></textarea>
            </div>
            <div class="form-group">
                <label for="manejo">Manejo de equipo especializado necesario:</label>
                <textarea class="form-control" id="manejo" rows="3"
                          placeholder="Indique el equipo especializado que es necesario manejar para el puesto."></textarea>
            </div>
            <div class="form-group">
                <label for="conocimiento">Conocimiento Conceptual:</label>
                <textarea class="form-control" id="conocimiento" rows="3"
                          placeholder="Describa el tipo de conocimiento teórico que se requiere manejar para el puesto."></textarea>
            </div>
            <div class="form-group">
                <label for="Dinamica">Dinámica institucional para la ejecucion de funciones :</label>
                <textarea class="form-control" id="Dinamica" rows="3"
                          placeholder="Especifique las condiciones especiales que se deben conocer del AyA para desempeñar adecuadamente las funciones del puesto."></textarea>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(4)">Atrás</button>
                <button class="btn btn-primary pull-right" onclick="nextStep(6)">Siguiente</button>
            </div>
        </div>
    </div>

    <!-- Paso 6 Valor de las principales variables que influyen en la solicitud de un puesto clave-->
    <div class="form-step card" id="step6" style="display:none;">
        <div class="card-header">Paso 6 - Asignación de Puntuación</div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Variables</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Conocimiento -->
                    <tr>
                        <td>Conocimiento</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 1)">
                                Se requiere
                                conocimientos básicos, propios de la educación primaria.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 2)">
                                Conocimientos fáciles
                                de adquirir mediante observación y adiestramiento (empírica).
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 3)">
                                Conocimientos básicos
                                propios de la educación secundaria (bachiller en educación media).
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 4)">
                                Conocimientos
                                avanzados
                                en temas técnicos propios
                                de la naturaleza de AyA.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Conocimiento', 5)">
                                Conocimientos
                                especializados en temas
                                técnicos propios de la
                                naturaleza de AyA.
                            </button>
                        </td>
                    </tr>
                    <!-- Experiencia -->
                    <tr>
                        <td>Experiencia</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 1)">No requiere.</button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 2)">
                                Mínimo Seis meses de
                                experiencia en funciones
                                de la misma naturaleza del
                                Puesto.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 3)">
                                Dos años de
                                experiencia
                                en funciones de la misma
                                naturaleza del Puesto.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 4)">
                                Tres años de
                                experiencia
                                en funciones de la misma
                                naturaleza del Puesto.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Experiencia', 5)">
                                Cuatro años de
                                experiencia en funciones
                                de la misma naturaleza del
                                Puesto.
                            </button>
                        </td>
                    </tr>
                    <!-- Responsabilidad -->
                    <tr>
                        <td>Responsabilidad</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 1)">
                                Sus acciones
                                tienen
                                impacto directo
                                únicamente en el proceso
                                al que pertenece.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 2)">
                                Sus acciones
                                tienen
                                impacto directo sobre la
                                dependencia a la que
                                pertenece .
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 3)">
                                Sus acciones hacen
                                posible
                                cumplir la razón de ser de
                                la dependencia.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 4)">
                                Sus acciones
                                tienen
                                impacto directo en la
                                prestación de los servicios,
                                asesoría y
                                fiscalización que brinda la
                                institución
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Responsabilidad', 5)">
                                Sus acciones
                                tienen un
                                impacto directo en las
                                actividades relacionadas
                                con la población que
                                atiende AyA .
                            </button>
                        </td>
                    </tr>
                    <!-- Planes o Proyectos -->
                    <tr>
                        <td>Planes o Proyectos</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 1)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impacta
                                directamente la
                                consecución de las metas
                                asignadas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 2)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impacta
                                directamente en la
                                consecución de los planes
                                anuales operativos de la
                                dependencia.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 3)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impide
                                la consecución de los
                                planes anuales operativos
                                de la Dependencia.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 4)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impacta
                                en la consecución de los
                                objetivos estratégicos de
                                AyA .
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Planes o Proyectos', 5)">
                                Su ausencia (de
                                la persona
                                que ocupa el puesto ) impide
                                la consecución de
                                objetivos estratégicos de
                                AyA.
                            </button>
                        </td>
                    </tr>
                    <!-- Presupuesto y/o Activos Institucionales -->
                    <tr>
                        <td>Presupuesto y/o Activos Institucionales</td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Presupuesto y/o Activos Institucionales', 1)">
                                De ¢0.00 a
                                9,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Presupuesto y/o Activos Institucionales', 2)">
                                De ¢10,000,000.00 a
                                ¢29,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Presupuesto y/o Activos Institucionales', 3)">
                                De 30,000,000.00 a
                                49,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Presupuesto y/o Activos Institucionales', 4)">
                                De ¢50,000,000.00 a
                                ¢99,999,999.99.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Presupuesto y/o Activos Institucionales', 5)">
                                De ¢100,000,000.00 o
                                más.
                            </button>
                        </td>
                    </tr>
                    <!-- Consecuencia del Error -->
                    <tr>
                        <td>Consecuencia del Error</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 1)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en las
                                actividades del funcionario,
                                pero son corregidos con
                                rapidez y facilidad en el
                                curso natural del trabajo ;
                                generando únicamente
                                atrasos en sus actividades.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 2)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en las
                                actividades del proceso en
                                el que participa ,
                                generando atraso en las
                                mismas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 3)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en las
                                actividades de otros
                                procesos, generando
                                atraso en las mismas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 4)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en la gestión
                                institucional , generando
                                pérdidas económicas
                                cuantificables que
                                redundarán en perjuicio al
                                cliente y/o sociedad civil.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Consecuencia del Error', 5)">
                                Los errores
                                cometidos
                                pueden ocasionar
                                trastornos en la calidad de
                                los servicios públicos de
                                agua potable,
                                saneamiento e hidrantes,
                                generando problemas en la
                                salud de una población.
                            </button>
                        </td>
                    </tr>
                    <!-- Funcionamiento de Procesos Medulares del AyA -->
                    <tr>
                        <td>Funcionamiento de Procesos Medulares del AyA</td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 1)">
                                La ausencia por
                                más de
                                cinco días (de la persona que
                                ocupa el puesto ) provoca
                                dos días de atraso en los
                                procesos sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 2)">
                                Por cada cinco
                                días de
                                ausencia (de la persona que
                                ocupa el puesto ), provoca al
                                menos dos días de atraso
                                en los procesos
                                sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 3)">
                                Por cada dos
                                días de
                                ausencia (de la persona que
                                ocupa el puesto ), provoca al
                                menos un día de atraso
                                en los procesos
                                sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 4)">
                                Por cada día de
                                ausencia
                                (de la persona que ocupa el
                                puesto ), provoca un día de
                                atraso en los procesos
                                sustantivos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light"
                                onclick="assignScore('Funcionamiento de Procesos Medulares del AyA', 5)">
                                Por cada día de
                                ausencia
                                (de la persona que ocupa el
                                puesto ), provoca un día de
                                atraso de forma
                                inmediata en los procesos
                                sustantivos.
                            </button>
                        </td>
                    </tr>
                    <!-- Complejidad -->
                    <tr>
                        <td>Complejidad</td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 1)">
                                Ejecuta actividades
                                rutinarias, repetitivas y
                                elementales, de acuerdo
                                con instrucciones precisas.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 2)">
                                Ejecuta actividades
                                donde
                                se aplican normas y
                                procedimientos
                                establecidos.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 3)">
                                Ejecuta actividades de
                                acuerdo con metas y
                                objetivos planteados,
                                donde existen precedentes
                                pero que requieren para su
                                desarrollo conocimiento
                                profesional en alguna de
                                las áreas de la gestión
                                institucional.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 4)">
                                Ejecuta actividades de
                                acuerdo con políticas y
                                objetivos institucionales,
                                que requieren del análisis
                                de diversas situaciones
                                donde es frecuente que no
                                existan precedentes para
                                atenderlas y que por tanto,
                                se debe elegir entre varias
                                opciones de acción.
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-light" onclick="assignScore('Complejidad', 5)">
                                Ejecuta actividades de
                                acuerdo con políticas,
                                estrategias y objetivos
                                institucionales, normativa
                                y lineamientos externos,
                                que exige con base en la
                                experiencia y el
                                conocimiento adquirido la
                                aplicación del juicio para
                                establecer nuevos métodos
                                y definir cursos de acción a
                                seguir por la Institución.
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-container">
                <button class="btn btn-primary pull-left" onclick="prevStep(5)">Atrás</button>
                <button class="btn btn-success pull-right" onclick="submitScores()">Enviar</button>
            </div>
        </div>
    </div>

    <!-- Indicador de Progreso -->
    <div class="progress-indicator text-center">
        <div class="circle active-circle" data-step="1" onclick="goToStep(1)"></div>
        <div class="circle inactive-circle" data-step="2" onclick="goToStep(2)"></div>
        <div class="circle inactive-circle" data-step="3" onclick="goToStep(3)"></div>
        <div class="circle inactive-circle" data-step="4" onclick="goToStep(4)"></div>
        <div class="circle inactive-circle" data-step="5" onclick="goToStep(5)"></div>
        <div class="circle inactive-circle" data-step="6" onclick="goToStep(6)"></div>
        <!-- ... Repite para los demás pasos ... -->
    </div>
    

</div>

<link rel="stylesheet" href="~/css/form.css">
<script src="~/js/form.js"></script>
